# frozen_string_literal: true

<%= add_file_traces %>
class ApplicationOperation
  attr_reader :params, :current_user

  def initialize(params, data = {})
    @params       = params
    @current_user = data[:current_user]
  end
end
