# frozen_string_literal: true

<%= add_file_traces %>
class <%= class_name %>Controller < <%= options[:parent] %><% options[:action].each do |action| %>
  <%= path_notes(action) %>
  def <%= action %>
    operator = <%= class_name %>::<%= action.humanize %>Operation.new(params)
    operator.call
  end
<% end %>end
